<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>mercurio</title>
</head>
<body>
    <h1>Mercurio</h1>
    <p>Mercurio es el planeta más pequeño y cercano al Sol en el sistema solar, 
        con una superficie rocosa llena de cráteres similar a la Luna. Completa su órbita en solo 88 días terrestres,
         pero su rotación es lenta, experimentando temperaturas extremas que oscilan entre -180°C y 430°C. 
         Posee una atmósfera muy delgada (exosfera) y carece de lunas. </p>
</body>
</html>