<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <p>selecciona el planeta</p>

    <a href="/mercurio">Mercurio</a>
    <br>
    <a href="/venus">Venus</a>
    <br>
    <a href="/tierra">tierra</a>
    <br>
    <a href="/marte">marte</a>
     <br>
    <a href="/jupiter">jupiter</a>
     <br>
    <a href="/saturno">saturno</a>
    <br>
    <a href="/Urano">Urano</a>
     <br>
    <a href="/Neptuno">Neptuno</a>
</body>
</html>
